.error{
    font-weight: bold;
    color: #FF0000;
}
.topscoreheader{
    text-align: center;
    font-size: 200%;
    background-color: #36407F;
    color: #ffffff;
}
.score{
    font-size:150%;
    color: white;
}
.scoreinfo{
    vertical-align: top;
    padding-right:15px;
}
